.app {
  width: 100%;
}

.app__wrapper {
  margin: 0 auto;

  width: 320px;
}

.app__slogan {
  display: none;
}

.app__download {
  display: block;
}

@media (min-width: $tablet-widths) {
  .app__slogan {
    display: block;
  }
}
